*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(https://wallpapercave.com/wp/wp3556787.jpg);
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;

}
.logo{
	color: black;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #fa709c;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}


nav ul li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #fa709c;
	transition: .4s;

}	
.btn{
	background-color:#fa709c;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: black;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: black;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fa709c;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #fa709c;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#fa709c;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: rgb(255, 255, 255);
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#fa709c;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #fa709c;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #fa709c;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#fa709c;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #fa709c;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#fa709c;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #fa709c;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #fa709c;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#fa709c;
	bottom: 35px;
	font-size: 14px; 
}

/* Mina projekt image */ 

.picture{
width: 150px;
height: 150px;

}

/* CV home page styling */

.section.sheet{
	display: flex;
	align-items: left;

}
 
/* wth is this */

* {
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    transform-origin: 0px 0px 0px;
}

p:blank, li:blank, div:blank, section:blank {
    display: none;
}

p:empty, li:empty, div:empty, section:empty {
    display: none;
}

p:-moz-only-whitespace, li:-moz-only-whitespace, div:-moz-only-whitespace, section:-moz-only-whitespace {
    display: none;
}

/* Page Variables */

:root {
    --main-width: 74%;
    --header-height: 1.2in;
    --sidebar-width: calc(100% - var(--main-width));
}

body {
    font-size: 0.95em;
    margin: 0 auto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
    text-decoration-skip: ink;
    hyphens: auto;
}

#save > section:first-of-type {
    display: flex;
    flex-direction: row;
}

.summary {
    font-size: 105%;
}

/* Misc */

img {
    max-width: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

abbr[title] {
    text-decoration: none;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li + li {
    margin-top: 0.4em;
}

.fa, .fab {
    text-align: center;
    min-width: 1em;
}

li .fa, li .fab {
    margin-right: 0.3em;
}

/* Page layout */

#save > section:first-of-type > aside {
    flex-basis: var(--sidebar-width);
    padding: 0.1618in 0 0.1618in 0.1618in;
    display: flex;
    flex-direction: column;
}

#save > section:first-of-type > aside > section + section {
    margin-top: 2em;
}

#save > section:first-of-type > aside > section:last-child {
    margin-top: auto;
} 

#save > section:first-of-type > section {
    flex-basis: var(--main-width);
    display: flex;
    flex-direction: column;
}

#save > section:first-of-type > section > header {
    flex-basis: var(--header-height);
    flex-grow: 0;
    padding: 0.1618in;
}

#save > section:first-of-type > section > section {
    flex-grow: 1;
    padding: 0.1618in;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

#save > section:first-of-type > section > section > section + section {
    margin-top: 1em;
}

#save > section:first-of-type > section > section > section:last-child {
    margin-top: auto;
}

.references address {
    font-style: normal;
    font-weight: 300;
}

.references address:first-line {
    font-weight: 400;
}

.references address + address,
.references address + p {
    padding-top: 0.5em;
}

/* Skills */

.skills {
    font-size: 92%;
}

.skills > ul:after {
    content: '';
    display: table;
    clear: both;
}

.skills > ul > li {
    display: block;
    float: left;
    margin: 6px 6px 0 0;
}

.skills > ul > li > span {
    background-color: #f5f5f5;
    border: 1px solid rgba(45, 45, 45, 0.1618);
    border-radius: 3px;
    color: #333;
    padding: 4px 8px;
    display: inline-block;
}

/* Experience & Education */

.education ol,
.experience ol {
    margin: 0;
    padding: 0;
}

.experience ol {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.experience ol > li {
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    font-weight: 300;
}

.education ol > li {
    font-weight: 300;
}

.experience ol > li + li {
    margin-top: 1em;
}

.education ol > li div,
.experience ol > li header {
    display: flex;
    flex-direction: row;
}

.experience ol > li > span,
.education ol > li p,
.experience ol > li header p {
    font-weight: 400;
}

.experience ol > li header p {
    font-size: 110%;
}

.education ol > li div > *:last-child,
.experience ol > li header > *:last-child {
    margin-left: auto;
}

.experience ol > li ul {
    padding-top: 0.5em;
}

.experience ol > li ul li {
    list-style-type: circle;
    margin-left: 1.618em;
}

/* media queries - at the end cause that's what everybody says*/

@media only screen and (min-width: 320px) and (max-width: 479px) {
	 
}